/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES + BODY */
body {

  --bg: #f1f5f9;
  --card-bg: #ffffff;
  --text: #0f172a;
  --accent: #22c55e;

  background: var(--bg);
  color: var(--text);
  transition: 0.5s;
}

/* DARK MODE */
body.dark {
  --bg: #0f172a;
  --card-bg: #1e293b;
  --text: #ffffff;
}

/* TOP BAR */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

/* TITLE */
h1 {
  text-align: center;
  padding: 20px;
  color: var(--accent);
  font-size: 2rem;
  margin: 0;
}

/* BUTTON */
button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: var(--card-bg);
  color: var(--text);
}

/* CONTROLS */
.controls {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

select {
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  background: #ffffff;
  color: #000;
  font-size: 14px;
  cursor: pointer;
}


/* FLEX CARDS (REPLACED GRID) */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* CARD */
.card {
  background: var(--card-bg);
  border-radius: 14px;
  padding: 12px;
  text-align: center;
  transition: all 0.25s ease;
  border: 1px solid transparent;

  flex: 1 1 140px;   /* responsive width */
  max-width: 180px;
}

/* HOVER EFFECT */
.card:hover {
  transform: translateY(-6px) scale(1.02);
  border: 1px solid var(--accent);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

/* IMAGE */
.card img {
  width: 100%;
  max-width: 90px;
  margin-bottom: 8px;
}

/* TEXT */
.card h3 {
  font-size: 0.95rem;
  margin-bottom: 5px;
}

.card p {
  font-size: 15px;
  color: var(--text);
}


